{% extends 'layout.html' %}

{% block titulo %} recoverPassword {% endblock %}

{% block estilos %}
<style>
  .abs-center {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  .form {
    width: 450px;
  }
</style>
{% endblock %}

{% block contenido%}

<center>
  <h1>Recuperar contraseña</h1>
  <p>Para reajustar su contraseña, dijite su dirección de correo electrónico. Si podemos encontrarlo en la base de
    datos, le enviaremos un email con instrucciones para poder acceder de nuevo.</p>
</center>
<div class="container">
  <div class="abs-center">
    <div class="login">
      <form action="{{url_for('recoverPasswordForm1')}}" class="border p-3 form" method="POST" id="form-container">

        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" placeholder="ejemplo@gmail.com" name="email_form" id="email_form"
            value="{{email_form}}">
        </div>

        <div class="form-group">
          <button class="btn btn-primary" id="send_form">Enviar</button>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}